<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h2 class="mb-5">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Hogeschool Rotterdam</h3>
        <div class="subheading mb-3">HBO Informatica</div>
        <!-- <div>Informatica</div> -->
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2017 - present day</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Albeda College / Techniek College Rotterdam</h3>
        <div class="subheading mb-3">MBO Application development level 4</div>
        <p>successful</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2014 - 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">IJsselcollege Kanaalweg, direction ICT</h3>
        <div class="subheading mb-3">VMBO kader</div>
        <p>successful</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">2010 - 2014</span>
      </div>
    </div>

  </div>
</section>
