<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100">
    <h1 class="mb-0">Tim
      <span class="text-primary">Dallau</span>
    </h1>
    <div class="subheading mb-5">Capelle a/d IJssel · the netherlands ·
      <a href="mailto:tim@dallau.com">tim@dallau.com</a>
    </div>
    <p class="lead mb-5">Hello my name is Tim Dallau and I am 21 years old. At the moment I am in the second year of my
      study Computer Science at the Hogenschool Rotterdam. On this site you can find all the projects I have worked on
      and my work experiences and training.</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/tim-dallau-4385b6117/" target="blank" placement="right"
        ngbTooltip="Go to my linkedin account">
        <!-- <i class="fab fa-linkedin-in"></i> -->
        <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
      </a>
      <a href="https://github.com/Tdallau" target="blank" placement="right" ngbTooltip="Go to my github account">
        <!-- <i class="fab fa-github"></i> -->
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <!-- <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-b3654.appspot.com/o/pdfs%2FCV.pdf?alt=media&token=fc1b4a63-2fe1-4988-9bc7-2a46bdd7a103"
        target="blank" placement="right" ngbTooltip="Download my resume">
        <fa-icon [icon]="['fas', 'file']"></fa-icon>
      </a> -->
    </div>
  </div>
