<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">junior software developer</h3>
        <div class="subheading mb-3">softhouse automatisering b.v</div>
        <p>I have been working for this company since February 2020. I am working on a React Native app is started working on during my internship for the same company.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2020-present day</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">trainee</h3>
        <div class="subheading mb-3">softhouse automatisering b.v</div>
        <p>Here i did an internship from September 2019 to February 2020. I worked on a React native app.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2019-February 2020</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">junior software developer</h3>
        <div class="subheading mb-3">Arvenza</div>
        <p>I worked her between September 2018 and January 2019. I did this from home, I mainly made plugin scripts
          for the exact synergy enterprise program.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2018-January 2019</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">trainee</h3>
        <div class="subheading mb-3">Lilopel B.V</div>
        <p>Here I did an internship from February 2017 to July 2017. I gained some experience from Ionic here.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2017 - July 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">developer</h3>
        <div class="subheading mb-3">Lilopel B.V</div>
        <p>In the summer holidays of 2016 I have had a holiday job here. During this period I gained knowledge from
          Ionic, AngularJS, and Laravel.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2016 - August 2016 (summer holidays)</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">trainee</h3>
        <div class="subheading mb-3">holland haptics</div>
        <p>Here I did an internship from February 2016 to July 2016. Here I have, among other things, gained knowledge
          of Objective C, Unity and C #.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">February 2016 - July 2016</span>
      </div>
    </div>

  </div>
</section>
