<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h2 class="mb-5">Skills</h2>
    <h6 class="subTitle">you can click on the logos if you don't know which logo it is.</h6>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">

      <li class="list-inline-item grow">
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="blank">
          <fa-icon [icon]="['fab', 'html5']"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item grow">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="blank">
          <fa-icon [icon]="['fab', 'css3-alt']"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item grow">
        <a href="https://angular.io" target="blank">
          <fa-icon [icon]="['fab', 'angular']"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item grow">
        <a href="https://reactjs.org" target="blank">
          <fa-icon [icon]="['fab', 'react']"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item grow">
        <a href="https://www.python.org" target="blank">
          <fa-icon [icon]="['fab', 'python']"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item grow">
        <a href="https://www.npmjs.com" target="blank">
          <fa-icon [icon]="['fab', 'npm']"></fa-icon>
        </a>
      </li>
    </ul>

    <div class="subheading mb-3">Other</div>
    <ul class="fa-ul mb-0">
      <li>
        <a class="other" href="https://www.typescriptlang.org" target="blank">Typescript</a>
      </li>
      <li>
        <a class="other" href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2" target="blank">c#
          (dotnet core)</a>
      </li>
      <li>
        <a class="other" href="https://ionicframework.com" target="blank">Ionic</a>
      </li>
      <li>
        <a class="other" href="https://electronjs.org" target="blank">Electron</a>
      </li>
      <li>
        <a class="other" href="https://developer.apple.com/swift/" target="blank">Swift</a>
      </li>
    </ul>
  </div>
</section>
